@import url('main.css');

.main_cadastro{
    justify-content: center;
    align-items: center;
}
.container_cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--bg_principal);
    padding-bottom: 5%;
& .titulo h1{
    color: var(--text_branco_principal);
    font-size: 2rem;
    margin-bottom: 1rem;
    }
& .titulo h2{
    color: var(--text_preto_principal);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    }
}

.form_cadastro{
    width: 20%;
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 15px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    justify-items: center;
    align-items: center;

& .form_grupo{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    }

& input{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #ebebeb;
    color: var(--text_preto_principal);
    }
}

.form_cadastro input[type="submit"]{
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    border: none;
    background-color: var(--bg_button);
    color: var(--bg_branco_button);
    cursor: pointer;
}
.form_cadastro input[type="submit"]:hover{
    background-color: var(--bg_principal);
    color: var(--text_branco_principal);
}