@import url(main.css);

main#main_cadastro{
    background-color: #2B70E4;
    justify-items: center;
    align-content: center;
}
main#main_cadastro .Titulo h1{
    font-size: 2.5em;
    margin-top: 10%;
    color: #fff;
}
main#main_cadastro .Titulo h2{
    font-size: 1.5em;
    margin-top: -20px;
    color: #3d3d3d;
}

main#main_cadastro .form_cadastro{
    background-color: #fff;
    width: 100%;
    padding: 5%;
    margin: 0 auto;
    border-radius: 10px;
    align-items: center;
    justify-items: center;
}

.divisoria{
    display: grid;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
}

.form_cadastro input[type="submit"]{
    font-weight: bold;
    margin-top: 20px;
    border-radius: 6px;
    font-weight: bold;
    color: #fff;
    background-color: #2B70E4;
    width: 100%;
    font-size: large;
    padding: 10px;
}

.form_cadastro input[type="submit"]:hover{
    font-weight: bold;
    margin-top: 20px;
    border-radius: 6px;
    font-weight: bold;
    color: #fff;
    background-color: #153b7e;
    font-size: large;
    padding: 10px;
}