@import url('main.css');
@import url('animation.css');

header{
    margin: 0;
    width: 100%;
    height: 70px;
    padding: 20px;
    background-color: var(--bg_header);
}
header nav{
    gap: 30px;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    color: var(--text_header);
}
nav ul {
    margin: 0;
    gap: 20px;
    display: flex;
    list-style: none;
    align-items: center;
}
header nav ul li a{
    color: var(--text_header-branco);
    font-weight: bold;
    text-decoration: none;
    font-weight: 500;
}
header nav ul li a:hover{
    color: #548beb;
}
header nav ul li button{
    background-color: var(--bg_button);
    font-weight: bolder;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}