@import url('main.css');

.caixa_form{
    background-color: var(--bg_principal);
    width: 100%;
    height: var(--div_index_tamanho);
    margin-top: -23px;
    justify-items: center;
    align-content: center;
}

.caixa_form .titulo{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
& h1,h2{
    color: var(--text_branco_principal);
    }
& h3{
    color: var(--text_preto_principal);
    }
}

.form_login{
    width: 20%;
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 15px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);

& .form_grupo{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    }

& label{
    font-size: 20px;
    color: var(--text_preto_principal);
    }

& input{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #ebebeb;
    color: var(--text_preto_principal);
    }

& .BTN_login{
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    width: 40%;
    border: none;
    background-color: var(--bg_button);
    color: var(--text_branco_principal);
    cursor: pointer;
    }
& .campo_btn_login{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    }
}

.div_conteudo{
    width: 100%;
    height: var(--div_index_tamanho);
    background-color: var(--bg_principal_branco);
}