@import url('animation.css');
@import url('header.css');
@import url('index.css');
@import url('login.css');
@import url('cadastro.css');


:root{
    /*Header*/
    --text_header: black; --bg_header: aliceblue;
    /*var principais*/
    --bg_button: #202d46; --bg_branco_button: aliceblue;
    --bg_principal: #2B70E4; --bg_principal_branco: #fff;
    --text_branco_principal: white; --text_preto_principal: black;

    /*Index*/
    --div_index_tamanho: 500px;
    --cor_dev_info: #2B70E4;
    --cor_dev_info_donos: #600aff;
}
body{
    margin: 0;
    padding: 0;
}