@import url('animation.css');
@import url('header.css');
@import url('index.css');
@import url('login.css');
@import url('cadastro.css');


:root{
    /*Header*/

    /*Text*/
    --text_header-branco: white; --text_header-dark: black;
    
    /*Background*/
    --bg_header_branco: #fff; --bg_header_dark: #000;
    --bg_header: #124399;

    /*var principais*/
    --bg_button: #202d46; --bg_branco_button: aliceblue;
    --bg_principal: #2B70E4; --bg_principal_branco: #fff;
    --text_branco_principal: white; --text_preto_principal: black;

    /*Index*/
    --div_index_tamanho: 500px;
    --cor_dev_info: #2B70E4;
    --cor_dev_info_donos: #600aff;
}
body{
    margin: 0;
    padding: 0;
}

.divisoria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}