.card_lista_users{
    background-color: cadetblue;
    justify-items: center;
    align-items: center;
    margin-top: 10%;
    font-weight: bold;
}

.card_lista_users h2{
    color: #fff;
    font-size: 2em;
}
.card_lista_users .card_tabela{
    justify-items: center;
    align-items: center;
}

.card_lista_users .tabela_user{
    margin-top: 5%;
    border-collapse: collapse;
    width: 100%;
}
.card_tabela #list_header{
    background-color: #4172db;
    color: #fff;
}
.card_tabela #list_body{
    background-color: #93b7fc;
    color: #000;
}
.btn_editar{
    background-color: #2b2b2b;
    color: #fff;
    width: 100%;
    border: none;
    padding: 5px;
    font-weight: bold;
}
.btn_delete{
    background-color: #ff0000;
    color: #fff;
    width: 100%;
    border: none;
    padding: 5px;
    width: 100%;
    font-weight: bold;
}